
@import url(./__container/comments__container.css);
@import url(./__content/comments__content.css);
@import url(./__image/comments__image.css);
@import url(./__author/comments__author.css);
@import url(./__quote/comments__quote\ .css);



.comments {
    max-width: 1184px;
    min-height: 618px;
    margin:100px auto 102px;
}

.comments__content-title {
    max-width: 800px;
    min-height: 157px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    /* or 108.9% */
    text-align: center;
    margin:0 auto 0;
}

.comments__content-subtitle{
    max-width: 640px;
    min-height: 58px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    margin: 48px auto 0;
}

.comments__container{
    max-width: 1184px;
    min-height: 283px;
    margin: 72px 0 auto 0;
    display:  grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 19px;
}


.comments__container-comment {
    max-width: 382px;
    min-height: 213px;
}

.comments__image {
    border-radius: 50%;
}


.comments__quote {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin: 0;  
}

.comments__author{
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 24px;
    margin-top: 24px;
}

@media screen and (max-width: 1280px) {

    .comments {
        max-width: 928px;
        min-height: 650px;
    }
}

@media screen and (max-width: 768px) {

    .comments {
        max-width: 660px;
        min-height: 1063px;
    } 
    
}

/*почему едет*/
@media screen and (max-width: 768px) {

    .comments__container{
        max-width: 382px;
        min-height: 806px;
        display:  grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 200px 290px 220px;
        gap: 48px;
        margin: 72px auto 0;
    }

    .comments__container-text {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

}

@media screen and (max-width: 375px) {

    .comments {
        max-width: 343px;
        min-height: 1089px;
        margin:64px auto 48px;
    } 
   
}

@media screen and (max-width: 320px) {

    .comments {
        max-width: 288px;
        min-height: 1136px;
        margin:64px auto 64px;
    } 

}

