.place__url-heading {
    max-width: 484px;
    min-height: 12px;
    font-family: 'Inter','Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.2em;
    color: #AAAAAA;
    margin: 0 0 16px;
}

.place__url {
    max-width: 484px;
    min-height: 18px;
    font-family: 'Inter','Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    margin:0;
}