@import url(./blocks/comments/comments.css);
@import url(./blocks/cover/cover.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/header/header.css);
@import url(./blocks/intro/intro.css);
@import url(./blocks/lead/lead.css);
@import url(./blocks/photo-grids/photo-grids.css);
@import url(./blocks/places/places.css);
@import url(./blocks/video/video.css);


@font-face {
    src: url(./Inter-3.12/Inter/Inter-Regular.otf);
    font-family: 'Inter'; 
    font-weight: normal;
}

@font-face {
    src: url(./Inter-3.12/Inter/Inter-ExtraBold.otf);
    font-family: 'Inter'; 
    font-weight: 900;
}


.check {
    border: 3px solid red;
}

.page {
    background-color: #2A2C2F;
    color: #FFFFFF;
}

ul {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

.link:hover {
    opacity: 0.3;
    transition: opacity 1s linear 0.5s;
    text-decoration: underline;
}