.place__title {
    width: 457px;
    font-family: 'Inter','Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 65px;
    margin:0 43px 60px 0;
}


@media screen and (max-width: 1024px) {

    .place__title {
        margin:0 32px 40px 0; 
    }

}

@media screen and (max-width: 768px){

    .place__title {
        width: 340px;
        font-size: 42px;
        line-height: 46px;
    }

}

@media screen and (max-width: 530px) {

    .place__title {
        width: 343px;
        font-size: 32px;
        line-height: 35px;
        margin:0 16px 32px;
    }
  
}


