.lead {
    max-width: 985px;
    max-height: 950px;
    margin:48px 16% 0;
}

.content__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 6rem;
    width: content;
    line-height: 5.8125rem;
    text-align: center;
    margin: 0 7% 0 7%;
}

.content__subtitle {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 1.875rem;
    min-width: content;
    line-height: 2.25rem;
    text-align: center;
    margin: 48px 14% 0;
}


.image-container {
    width: 100%;
    margin: 78px 0 0;
    position: relative;
}

.content__image {
    width: 100%;
    object-fit: cover;
    object-position: 0 0;
    z-index: 0;
}

.content__map {
    width: 937.08px;
    height: 225.68px;
    margin: 0 auto;
    object-fit: cover;
    position: absolute;
    top: 126.88px;
    bottom: 201.57px;
    right: 23.65px;
    left: 23.27px;
    z-index: 1;
}

.lead__caption {
    width: 636px;
    height: 10px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}