@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__image/lead__image.css);
@import url(./__caption/lead__caption.css);


.lead {
    max-width: 985px;
    min-height: 950px;
    margin:48px auto 0;
}



@media screen and (max-width: 1024px)  {

    .lead {
        max-width: 928px;
        min-height: 821px;
    }

} 

@media screen and (max-width: 768px)  {

    .lead {
        max-width: 768px;
        min-height: 412px;
    }

} 


@media screen and (max-width: 375px)  {

    .lead {
        max-width: 375px;
        min-height: 412px;
    }

}

@media screen and (max-width: 320px) {

    .lead {
        max-width: 320px;
        min-height: 413px;
    }

}