.cover__subtitle {
    max-width: 382px;
    min-height: 69px;
    font-family: 'Inter','Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 399px;
    text-align: center;   
}


@media screen and (max-width: 1280px) {

    .cover__subtitle {
        max-width: 382px;
        min-height: 69px;
        top: 408px; 
    }
}


@media screen and (max-width: 1024px) {

    .cover__subtitle {
        max-width: 413px;
        min-height: 66px;
        top: 300px; 
    }
}


@media screen  and (max-width: 768px) {

    .cover__subtitle {
        max-width: 382px;
        min-height: 80px;
        top: 220px; 
    }
    
}


/*intermediate points start*/

@media screen and (max-width: 687px) {

    .cover__subtitle {
        top: 165px; 
        font-size: 16px;
        line-height: 20px;
    }

}


@media screen and (max-width: 580px) {
    .cover__subtitle {
        top: 120px; 
        font-size: 15px;
        line-height: 18px;
    }

}


@media screen  and (max-width: 500px) {

    .cover__subtitle {
        max-width: 343px;
        min-height: 57px;
        font-size: 14px;
        line-height: 17px;
        top: 121px; 
    }
}



@media screen and (max-width: 360px) {

    .cover__subtitle {
        max-width: 288px;
        min-height: 49px;
        top: 85px; 
    }

}

/*intermediate points end*/


@media screen  and (max-width: 320px) {

    .cover__subtitle {
        max-width: 288px;
        min-height: 49px;
        top: 66px; 
    }
}