
.header__logo {
    max-width: 177px;
    min-height: 52px;
    display: flex;
    justify-content: space-between;
}



@media screen  and (max-width: 375px)  {
   
    .header__logo {
        max-width: 142px;
        min-height: 42px;
    }

}