
.header__logo {
    background-image: url(../../../images/__logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 176.58px;
    height: 52px;
}

@media screen  and (max-width: 375px)  {
   
    .header__logo {
        width: 142px;
        height: 42px;
    }

}