.photo-grid__item {
    width: 100%;
    height: 188px;
    object-fit: cover;
}


@media screen and (max-width: 1250px)  {

    .photo-grid__item {
        height: 200px;
    }
}
@media screen and (max-width: 960px)  {

    .photo-grid__item {
        height: 234px;
    }
}

/* было 375*/

@media screen and (max-width: 736px)  {

    .photo-grid__item {
       height: 232px;
    }
}

@media screen and (max-width: 360px) {

    .photo-grid__item {

        height: 192px;
    }
}