@font-face {
    src: url(/Inter-3.12/Inter/Inter-Black.otf);
    font-family: 'Inter'; 
}

.header {
    max-width: 1184px;
    max-height: 52px;
    padding-top: 30px;
    margin: 0 5% 0;
    display: flex;
    justify-content: space-between;
}

.header__menu{
    display: flex;
    margin: 0;
    padding: 0;
    align-items: flex-end;
}


.header__menu-item {
    width: 1.875rem;
    height: 1.4375rem;
    line-height: 1.4375rem;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
}

.header__menu-item-link {
    color: #FFFFFF;
}

.logo {
    background-image: url(/images/__logo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 11rem;
    height: 3.25rem;
}