
.footer__author {
    margin: 0;
    max-width: 282px;
    font-family: 'Inter','Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 35px;
    text-align: right;
}


@media screen and (max-width: 768px) {
    
    .footer__author {
        max-width: 183px;
    }
    
}

/*@media screen and (max-width: 768px)*/
@media screen and (max-width: 870px) {
   
    .footer__author {
        font-size: 14px;
        line-height: 27px;
        max-width: 282px; 
    }
    
}

@media screen and (max-width: 375px) {
    
    .footer__author {
        max-width: 282px; 
    }
    
}
