
.footer__author {
    margin: 0;
    max-width: 282px;
    min-height: 13px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: right;
}


@media screen and (max-width: 768px) {
    
    .footer__author {
        max-width: 220px;  /* не 183px как в макете, т.к. длинное имя*/
        min-height: 21px;
    }
    
}

@media screen and (max-width: 690px) {
    
    .footer__author {
        max-width: 183px; 
        min-height: 16px;
        font-size: 10px;
    }
}

@media screen and (max-width: 570px) {
    
    .footer__author {
        max-width: 282px;  /* не 183px как в макете, т.к. длинное имя*/
        min-height: 21px;
        margin-top: 16px;
    }
   
}


@media screen and (max-width: 375px) {
    
    .footer__author {
        max-width: 282px;  /* не 183px как в макете, т.к. длинное имя*/
        min-height: 21px;
        margin-top: 16px;

    }
    
}
