
.video__title {
    max-width: 800px;
    min-height: 147px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    text-align: center;
    margin: 0 auto;
}


@media screen  and (max-width: 1024px) {
   
    .video__title {
        max-width: 928px;
    }
    
}

@media screen and (max-width: 768px) {

    .video__title {
        max-width: 720px;
        min-height: 104px;
        font-size: 42px;
        line-height: 46px;
    }

}

@media screen and (max-width: 375px) {

    .video__title {
        max-width: 343px;
        min-height: 80px;
        font-size: 32px;
        line-height: 35px;
    }

}

@media screen and (max-width: 320px) {

    .video__title {
        min-height: 112px;
    }

}