.cover__title {
    max-width: 1094px;
    min-height: 69px;
    font-family: 'Inter','Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    position: relative;
    top: 274px;
    color: #FFFDFD;
}

@media screen and (max-width: 1280px) {

    .cover__title {
        max-width: 1094px;
        min-height: 69px;
        top: 274px;
    }

}

@media screen and (max-width: 1024px) {

    .cover__title {
        max-width: 965px;
        min-height: 65px;
        top: 211px;
    }
    
}

@media screen  and (max-width: 768px) {

    .cover__title {
        max-width: 720px;
        min-height: 170px;
        top: 165px;
    }
    
}

/*intermediate points start*/

@media screen and (max-width: 687px) {

    .cover__title {
        max-width: 687px;
        font-size: 60px;
        line-height: 70px;
        top: 160px;
    }

}


@media screen and (max-width: 580px) {
    .cover__title {
        max-width: 580px;
        font-size: 56px;
        line-height: 60px;
        top: 140px;
    }

}


@media screen  and (max-width: 500px) {

    .cover__title {
        max-width: 343px;
        min-height: 80px;
        font-size: 32px;
        line-height: 35px;
        top: 104px;
    }
    
}


@media screen and (max-width: 360px) {

    .cover__title {
        max-width: 250px;
        min-height: 65px;
        top: 60px;
    }

}

/*intermediate points end*/


@media screen  and (max-width: 320px) {
    
    .cover__title {
        max-width: 245px;
        min-height: 72px;
        top: 64px;
    }

}