.footer {
    max-width: 1184px;
    height: 23px;
    margin-right:auto;
    margin-left: auto;
    padding-top: 160px;
    padding-bottom: 48px;
}


.footer__columns {
    display: flex;
    justify-content: space-between;
    height: 23px;
}

.footer__column-links {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.footer__column-item {
    min-width: 74px;
    height: 23px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    margin-right: 18px;
}

.footer__author {
    margin: 0;
    max-width: 282px;
    height: 13px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: right;
}


.footer__column_copyright {
    display: flex;
    align-items: flex-end;
}

@media screen  and (min-width: 1024px) and (max-width: 1279px) {
    .footer {
        max-width: 929px;
    }
}