@import url(./__columns/footer__columns.css);
@import url(./__column/footer__column.css);
@import url(./__author/footer__author.css);


.footer {
    max-width: 1184px;
    min-height: 23px;
    margin-right:auto;
    margin-left: auto;
    padding-top: 160px;
    padding-bottom: 48px;
}


@media screen  and (max-width: 1024px) {

    .footer {
        max-width: 929px;
    }
}

@media screen and (max-width: 768px) {

    .footer {
        max-width: 722px;
        min-height: 28px;
        padding-top: 102px;
        padding-bottom: 24px;
    }
    
}


/*@media screen and (max-width: 375px)*/
@media screen and (max-width: 690px) {
    
    .footer {
        max-width: 282px;
        min-height: 312px;
        padding-top: 64px;
        margin-right:16px;
        margin-left: 16px;
    }

}

@media screen and (max-width: 320px) {
    
    .footer {
        max-width: 282px; /* чтобы влезло длинное имя */
        min-height: 312px;
    }

}

