
.intro__content-row {
    margin: 53px 0 0;
    max-width: 683px;
    min-height: 154px; /*154px - в макете для 1440, но 7 строк * line-heihgt= 168px */
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}


@media screen and (max-width: 375px)  {

    .intro__content-row {
        margin: 32px 0 0;
        max-width: 343px;
        min-height: 154px; /*154px - в макете для 1440, но 7 строк * line-heihgt= 168px */
        font-size: 16px;
        line-height: 27px;
    }
    
} 