.lead__map {
    max-width: 95%;
    min-height: 225.68px;
    margin: 0 auto;
    object-fit: contain;
    position: absolute;
    top: 126.88px;
    bottom: 201.57px;
    right: 23.65px;
    left: 23.27px;
    z-index: 1;
}


@media screen and (max-width: 768px)  {

    .lead__map {
        top: 96.17px;
        bottom: 152.78px;
        right: 18.16px;
        left: 18.46px;
    }
   
} 

@media screen and (max-width: 375px)  {

    .lead__map {
        min-height: 85.93px;
        top: 48.31px;
        bottom: 76.75px;
        right: 8.8px;
        left: 9px;
    }
   
}