
.video__container {
    max-width: 1184px;
    min-height: 323px;
    margin: 72px 0 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 18px;
}




@media screen and (max-width: 1280px) {
   
    .video__container {
        max-width: 1184px;
    }

}

/*intermediate point*/
@media screen and (max-width: 1200px) {
   
    .video__container {
        max-width: 1104px;
        margin: 72px auto 0;
    }
}

/*intermediate point*/
@media screen and (max-width: 1120px) {
   
    .video__container {
        max-width: 1024px;
    }
}


@media screen  and (max-width: 1024px) {
    
    .video__container {
        max-width: 928px;
        min-height: 288px;
    }
}


@media screen and (max-width: 951px) {
   
    .video__container {
        max-width: 720px;
        min-height: 200px;
        margin: 56px auto 0;
        gap: 16px;
    }

     .video__container-item:nth-of-type(2) .video__picture-icon {
        margin: 25px 0 17px;

     }

}

@media screen and (max-width: 767px) {

    .video__container {
        max-width: 343px;
        min-height: 200px;
        margin: 24px auto 0;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 8px;
    }

}

@media screen and (max-width: 320px) {
    .video__container {
        max-width: 282px;
        min-height: 192px;
    }

}